* {
    box-sizing: border-box;
}

:root {
    --color-main: #3ab800;
}

body {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    background-color: #f2f4f3;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
